.title {
  font-size: 16px;
  font-weight: 100;
  text-transform: capitalize;
  margin: 0;
}

.price {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.item:hover {
  background-color: rgb(244, 244, 244);
}

.item {
  padding: 15px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item:not(:last-child) {
  border-bottom: 1px dashed black;
}

.circle {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ede9fe;
  transition: background-color 200ms;
}

.active {
  background-color: #6638dd;
}

.higher-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.submit-item {
  display: block;
}

.submit-item:hover {
  background: white;
}

.lower-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}

.lower-container p {
  margin: 0;
  font-size: 14px;
}

.list-of-users {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 500ms;
}

.list-of-users > div {
  overflow: hidden;
}

.list-of-users > div > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.list-of-users ul {
  display: flex;
  flex-direction: row;
  padding: 0;
  list-style: none;
  overflow-x: auto;
  overflow-y: hidden;
  margin-top: 10px;
}

.list-of-users button {
  border: none;
  color: white;
  background: #6638dd;
  font-size: 16px;
  border-radius: 3px;
  transition: background 200ms;
  padding: 5px 20px;
  margin-bottom: 15px;
}

.list-of-users button:active {
  background: #48279b;
}

.oppened-list-of-users {
  grid-template-rows: 1fr;
}

.oc-arrow {
  transition: transform 300ms;
  transform: rotate(0deg);
}

.oppened-arrow {
  transform: rotate(180deg);
}

.list-of-splited-users {
  display: flex;
  align-items: center;
  gap: 5px;
}

.list-of-splited-users ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 3px;
}

.list-of-splited-users span {
  font-size: 12px;
}

.split-item:hover {
  background: white;
}
